* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Jost, Inter, sans-serif;
    line-height: 1.5;
}

.header {
	margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr auto; /*  означает, что столбцы будут заполнять всё доступное пространство */
    align-items: center;
    padding: 1rem 0rem 1rem 6rem;
    background-color: #fff;
	width: 85%;
	justify-content: center;
	margin-bottom: 70px;
	gap: 3rem;
}


.logo {
    font-size: 64px;
    font-weight: 600;
	margin-left: 21.5%;
	max-width: 15%;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(5, auto); /*  задает пять колонок, размеры которых вычисляются автоматически в зависимости от свободного пространства */
    gap: 3rem;
	
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 20px;
	font-weight: 500;
    transition: color 0.3s;
}

.navbar a:hover {
	font-weight: 700;
}

.main-title {
    font-size: 64px;
	font-weight: 500; 
	text-align: center;
	margin-bottom: 100px;
}

.custom-container {
	max-width: 1000px;
	margin: 0 auto;
}

.col-md-6 p {
	font-size: 25px;
	margin-bottom: 40px;
}

.col-md-6 h3 {
	font-size: 40px;
	font-weight: 600;
}

.col-md-6 h5 {
	font-size: 32px;
	margin-top: -50px;
}

.form-control {
	margin-top: 30px;
}

.col-md-6 button {
	margin-top: 30px; 
    height: 65px;
	width: 215px;
    font-size: 24px;
    background-color: #000000;
	color: #FFFFFF;
    border: none;
	border-radius: 32px;
    cursor: pointer;
    transition: background-color 0.3s;
	box-shadow: 0 0 0 2px black;
	margin-bottom: 160px;
}

.col-md-6 button:hover {
    background-color: white;
	color: black;
}


.custom-modal-style {
    height: 80vh; /* Установите высоту 80% от высоты окна */
    max-height: 70vh; /* Ограничение на случай маленьких экранов */
	border-radius: 32px;
}

.custom-modal-text {
	margin-top: 60px;
    font-size: 54px;; /* Увеличенный размер текста */
    font-weight: 400;  /* Полужирный текст для лучшей читаемости */
    line-height: 1.6;  /* Увеличенное межстрочное расстояние */
    text-align: center; /* Центрирование текста */
}

.modal button {
	margin-top: 30px; 
    height: 65px;
	width: 160px;
    font-size: 24px;
    background-color: #000000;
	color: #FFFFFF;
    border: none;
	border-radius: 32px;
    cursor: pointer;
    transition: background-color 0.3s;
	box-shadow: 0 0 0 2px black;
}

.modal button:hover {
    background-color: white;
	color: black;
}





.footer {
	margin-top: -7px;
    background-color: #E4E4E4;
    color: black;
    text-align: center;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*Контейнер для двух колонок*/
.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1350px;
    margin-bottom: 20px;
}

/*Левая колонка*/
.footer-left {
    text-align: left;
}

.footer-title {
    font-size: 24px;
	font-weight: 400;
    margin: 0;
}

.footer-subtitle {
    margin-top: 90px;
    font-size: 16px;
	font-weight: 500;
    color: #454545;
}

/*Правая колонка*/
.footer-right {
    text-align: right;
}

.footer-question {
    font-size: 36px;
	font-weight: 600;
    margin-bottom: 10px;
    color: black;
}

.consultation-button {
    background-color: white;
    color: black;
    border: none;
    padding: 22px 50px;
    font-size: 24px;
	font-weight: 500;
    border-radius: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.consultation-button:hover {
    background-color: black;
	color: white;
}


.footer-bottom {
    text-align: center;
    font-size: 0.9em;
    color: #454545;
    margin-top: 20px;
}

